.container {
    margin-top: 10%;
    color: white;
}

.container p {
    margin-top: 2.5%;
    font-size: 1.5rem;
}

.contactContainer {
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    background-color: #1C140F;
    border-radius: 15px;
    color: white;
}

.contactLeftSide {
    width: 50%;
    padding: 2.5%;
    text-align: start;
}

.contactRightSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer {
    width: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    padding-right: 2.5%;
}

.inputContainer input {
    width: 70%;
    border: none;
    background-color: transparent;
    padding: 5%;
}

.inputContainer input:focus {
    outline: none;
}

.inputContainer button {
    border: none;
    color: white;
    background-color: #DC7000;
    padding: 4%;
    border-radius: 8px;
}

.inputContainer button:hover {
    background-color: #F9A000;
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 10%;
    }

    .contactContainer {
        margin-top: 5%;
        flex-direction: column;
    }

    .contactLeftSide {
        width: 100%;
    }

    .contactRightSide {
        margin-top: 5%;
        width: 100%;
        padding-bottom: 5%;
    }

    .inputContainer {
        width: 90%;
    }
}

